<div class = "container">
  <!--use partial is older concept /// outlet is used to represent almost all content from other pages will appear in this section-->
  {{partial 'navbar'}}
  {{outlet}}
</div>
